.flex-container {
    display: flex;
    justify-content: center;
}

#button {
    cursor: pointer;
    text-align: center;
    background-color: #542bff;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-size: 20px;
}

#button:hover {
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    /*  Making button bigger on hover  */
    transform: scale(1.1) perspective(1px)
}